<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>iOS</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ios/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iBeacon</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ibeacon/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Unity</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/unity/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Scala</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/scala/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ruby</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ruby/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PHP</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/php/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PhpStorm</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/phpstorm/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Machine Learning</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/machinelearning/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JavaScript - Client Side -</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/javascript/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS Second Stage</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ios-2/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Haskell</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/haskell/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Go</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/go/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Android</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/android/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>.emacs</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/dot-emacs/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1分で実現できる有用な技術</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/one-minute/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Amazon Web Service</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/aws/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>AngularJS Startup</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/angularjs-startup/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ansible</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ansible/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ceylon</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ceylon/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Civic Tech</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/civictech/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Clojure</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/clojure/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>cocos2d-x</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/cocos2d-x/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>cocos3d-x</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/cocos3d-x/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CodeIgniter</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/codeigniter/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Corona</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/corona/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Delphi</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/delphi/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Doc-ja</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/docja/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>D言語</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/dlang/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Elixir</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/elixir/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fluentd</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/fluentd/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>G*(Groovy, Grails ..)</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/gastah/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Git</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/git/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Google Apps Script</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/gas/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gorilla Script</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/gorilla/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Grunt Plugins</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/grunt-plugins/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hadoop</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/hadoop/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Haxe</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/haxe/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HDL</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/hdl/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>hubot-scripts</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/hubot-scripts/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>IntelliJ IDEA</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/intellij/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Jenkins CI</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/jenkinsci/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JSX</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/jsx/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Laravel</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/laravel/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Linux</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/linux/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lisp</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/lisp/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Max/MSP/Jitter</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/max/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Metaobject Protocol(MOP)</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/mop/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mojolicious</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/mojolicious/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MongoDB</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/mongodb/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>mruby</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/mruby/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>NEET</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/neet/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>openFrameworks</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/of/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Perl</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/perl/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PostgreSQL</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/postgresql/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Processing</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/processing/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Python</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/python/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ruby on Rails</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/ruby-on-rails/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ruby Motion</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/rubymotion/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Rust</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/rust/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TDD</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/tddadventjp/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Theorem Prover</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/theorem_prover/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wakame Users Group</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/wug/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>WebPay</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/webpay/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Windows Azure</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/azure/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Windows Store App</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/win-store-app/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Xamarin</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/xamarin/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>zsh</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/zsh/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ディストリビューション/パッケージマネージャー</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/distro-pm/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>どう書く過去問</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/doukaku-past-questions/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Documentation</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/documentation/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>マイナー言語</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/minor-language/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>みんなでやるRiak</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/riak/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ラテン語プログラミング</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/latin/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>全文検索エンジンGroonga</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/groonga/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数学</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/math/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>統計＆機械学習</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/static_and_machinlearning/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>設定ファイル「dotfiles」の作り方</string>
		<key>feed_url</key>
		<string>http://qiita.com/advent-calendar/2013/dotfiles/feed</string>
		<key>select_cnt</key>
		<string>0</string>
	</dict>
</array>
</plist>
